In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('Melbourne_housing_FULL.csv')

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [5]:
df.shape

(34857, 21)

In [6]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 
               'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']
df = df[cols_to_use]

In [7]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [8]:
df.dropna(subset=['Price'], inplace=True)

In [9]:
cols_to_fill_zero = ['Propertycount', 'Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

In [10]:
df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())

In [11]:
df['Bedroom2'] = df['Bedroom2'].fillna(df.Bedroom2.mode()[0])
df['Bathroom'] = df['Bathroom'].fillna(df.Bathroom.mode()[0])

### KNN imputation

In [12]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df['BuildingArea'] = imputer.fit_transform(df[['BuildingArea', 'Price', 'Rooms', 'Landsize']])[:, 0]

### MICE Imputation

In [13]:
#label encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

df['CouncilArea'] = label_encoder.fit_transform(df['CouncilArea'])

In [14]:
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=0)
df['CouncilArea'] = imputer.fit_transform(df[['CouncilArea']])

In [15]:
df.dropna(inplace=True)

In [16]:
df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

# Handling Outliers

In [17]:
from scipy import stats

### Z-score method

In [18]:
z_scores = np.abs(stats.zscore(df['Price']))
print(z_scores)

outliers = df[z_scores > 3]
outliers

[0.66999691 0.02371083 0.64661351 ... 0.53814578 0.13997302 0.04709423]

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
166,Albert Park,3,h,S,Greg,Southern Metropolitan,3280.0,3.3,26.0,3.0,2.0,0.0,147.0,146.00000,3010000.0
178,Albert Park,4,h,S,Marshall,Southern Metropolitan,3280.0,3.3,26.0,4.0,2.0,1.0,330.0,207.00000,4735000.0
182,Albert Park,3,h,S,Greg,Southern Metropolitan,3280.0,3.3,26.0,3.0,2.0,2.0,325.0,312.00000,3755000.0
387,Armadale,2,u,S,Jellis,Southern Metropolitan,4836.0,6.3,27.0,3.0,2.0,2.0,0.0,236.40000,3625000.0
388,Armadale,4,h,VB,Jellis,Southern Metropolitan,4836.0,6.3,27.0,4.0,2.0,2.0,1581.0,316.96734,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34404,Kew,3,h,PI,Marshall,Southern Metropolitan,10331.0,5.4,2.0,3.0,2.0,2.0,1332.0,241.60000,4650000.0
34455,Malvern East,5,h,S,Marshall,Southern Metropolitan,8801.0,8.4,27.0,5.0,3.0,2.0,807.0,264.20000,3680000.0
34494,Middle Park,6,h,S,Marshall,Southern Metropolitan,2019.0,3.0,26.0,6.0,4.0,4.0,420.0,324.00000,5575000.0
34496,Middle Park,3,h,SA,Greg,Southern Metropolitan,2019.0,3.0,26.0,3.0,1.0,0.0,284.0,148.00000,3750000.0
34498,Middle Park,3,h,S,Greg,Southern Metropolitan,2019.0,3.0,26.0,3.0,2.0,1.0,286.0,233.00000,3250000.0

In [19]:
df['Price'].shape

(27244,)

In [20]:
df_cleaned = df[z_scores <= 3]
df_cleaned.shape

(26770, 15)

### IQR method

In [21]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['Price'] < lower_bound) | (df['Price'] > upper_bound)]
outliers

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
135,Albert Park,3,h,PI,Buxton,Southern Metropolitan,3280.0,3.3,26.0,3.0,2.0,0.0,211.000000,198.0,2850000.0
142,Albert Park,4,h,S,Marshall,Southern Metropolitan,3280.0,3.3,26.0,4.0,2.0,1.0,153.000000,180.0,2300000.0
146,Albert Park,3,h,S,Cayzer,Southern Metropolitan,3280.0,3.3,26.0,3.0,1.0,0.0,593.488933,308.2,2485000.0
152,Albert Park,3,h,S,Cayzer,Southern Metropolitan,3280.0,3.3,26.0,3.0,2.0,1.0,177.000000,181.0,2615000.0
158,Albert Park,3,h,S,Greg,Southern Metropolitan,3280.0,3.3,26.0,3.0,2.0,1.0,228.000000,278.0,2575000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34619,Port Melbourne,4,h,PI,Biggin,Southern Metropolitan,8648.0,3.5,18.0,4.0,2.0,2.0,376.000000,208.9,2300000.0
34623,Port Melbourne,3,u,S,RT,Southern Metropolitan,8648.0,3.5,18.0,3.0,1.0,0.0,593.488933,778.8,2610000.0
34632,Prahran,3,h,VB,Marshall,Southern Metropolitan,7717.0,4.6,27.0,3.0,2.0,2.0,330.000000,175.0,2500000.0
34714,South Yarra,3,h,PI,Jellis,Southern Metropolitan,14887.0,2.7,18.0,3.0,2.0,1.0,298.000000,256.4,2855000.0
34719,Southbank,3,u,S,Abercromby's,Southern Metropolitan,8400.0,0.7,18.0,3.0,1.0,0.0,593.488933,173.6,2685000.0

### Removing Outliers

In [23]:
df_cleaned = df[(df['Price'] >= lower_bound) & (df['Price'] <= upper_bound)]

### IQR (Capping & Flooring)

In [ ]:
df['Capped_Price'] = df['Price'].apply(lambda x:
                                      lower_bound if x<lower_bound
                                      else upper_bound if x>upper_bound
                                      else x)

### Transformations(Log & sqrt)

In [ ]:
df['Log_Price'] = np.log1p(df['Price'])
df['Sqrt_Price'] = np.sqrt(df['Price'])

In [ ]:
numerical_features = df.select_dtypes(include=['number'])
numerical_features

In [ ]:
categorical_features = df.select_dtypes(include=['object'])
categorical_features

In [ ]:
df.CouncilArea.unique()

In [ ]:
df.CouncilArea.nunique()

In [ ]:
df['CouncilArea'].value_counts()

In [ ]:
df = pd.get_dummies(df, drop_first=True).astype(int)

## Train_Test_Split

In [ ]:
X = df.drop('Price', axis=1)
y = df['Price']
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_X, train_y)

In [ ]:
reg.score(test_X,test_y)
reg.score(train_X, train_y)

In [ ]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(train_X,train_y)

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=10, max_iter=100, tol=0.1)
ridge_reg.fit(train_X, train_y)